@font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}
.heading {
  width:100%;
  height:100px;
  padding: 70px;
  font-size: 20px;
}
.heading2:hover {
color: aliceblue; 
font-style: oblique;
}
body {
  background: url("h.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.img{
  
}
.neon {
  color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px rgb(187, 93, 224),
    0 0 80px rgb(187, 93, 224),
    0 0 90px rgb(187, 93, 224),
    0 0 100px rgb(187, 93, 224),
    0 0 150px rgb(187, 93, 224);
}
.flux {
  font-family: neon;
  color: rgb(50, 135, 245);
  
}

.des{
  text-align: left;
  margin-left: 10px;
}
.sec3{
  margin-top: 180px;
}
.div2 {
  margin-top: -50px;
  width: 320px;
  height: 280px;
  padding-top: 100px;
  background-size: cover;
  transition: 0.4s cubic-bezier(1, -1, 0, 2);
  clip-path: polygon(50% 5%, 0% 100%, 100% 100%);
  margin-left: 8%;  
  background-color: #fff;
  opacity: 0.5;
  
}
.div2:hover {
clip-path: polygon(50% 19%, 0 76%, 100% 76%);
}

@media screen and (min-width: 480px) {
    body {
      background-color: blueviolet;
    }
    .div2{
      display: none;
    }
    #para{
      display: none;
    }
    
}